body {
   background-color: rgba(239, 179, 239, 0.87);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Bangers", system-ui;
  color:rgb(26, 0, 50);
  font-size: 96px;
  margin-bottom:0;
}

.cell {
  width: 120px;
  aspect-ratio: 1;
  border: 1px solid black;
  border-radius: 12px;
  font-size: 48px;
}

.board-size {
  display: flex;
  align-items: center;
  gap: 12px;
}

.reset-btn {
  padding: 8px 12px;
  font-size: 24px;
  margin-top: 24px;
  border-radius: 6px;
  background-color: rgb(188, 117, 255);
  color: white;
  border: 1px solid blueviolet;
}

.bs-form-input {
  display: flex;
  gap: 4px;
  margin-left: 16px;
  background-color: rgb(60, 0, 116);
  padding: 4px;
}

.bs-form-input > input {
  padding: 4px;
  font-size: 16px;
}

.bs-form-input > button {
  padding: 4px 8px;
  font-size: 16px;
  background-color: rgb(188, 117, 255);
  color: white;
  border: 1px solid blueviolet;
}

p {
  font-size: 32px;
  font-family: "Bangers", system-ui;
  color:rgb(26, 0, 50);
}